<script setup lang="ts">

import { io, Socket } from 'socket.io-client';
import { onMounted, ref } from 'vue';

let socket: Socket;

onMounted(() => {
  socket = io('ws://localhost:8000');
});

function onClickUp() {

  socket.emit('up', 'up')
}

function onClickDown() {
  socket.emit('down', 'down')
}

function onClickLeft() {
  socket.emit('left', 'left')
}

function onClickRight() {
  socket.emit('right', 'right')
}
function onClickStop() {
  socket.emit('stop', 'stop')
}

</script>
  
<template>

  <div> test</div>
  <button v-on:mousedown="onClickUp" v-on:mouseup="onClickStop"> UP !!!!</button>
  <button v-on:mousedown="onClickDown" v-on:mouseup="onClickStop"> DOWN !!!!</button>
  <button v-on:mousedown="onClickLeft" v-on:mouseup="onClickStop"> LEFT !!!!</button>
  <button v-on:mousedown="onClickRight" v-on:mouseup="onClickStop"> RIGHT !!!!</button>



</template>
  
<style>

</style>
  